.reviews {
    position: relative;
    padding-top: 75px;
    &__title {
        font-size: 45px;
        font-family: 'Bebas';
        color: $dark;
        span {
            font-family: 'Bebas';
            color: $red;
        }
    }
    &__wrap {
        position: relative;
        margin-top: 25px;
        .splide__slide__image {
            width: 100% !important;
            height: 350px !important;
            border-radius: 10px;
            object-fit: cover !important;
        }
    }
}